.bottomCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--secondary-background-color);
    color: var(--text-color);
    height: 50px;
    z-index: 111;
}

.contetntContainer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.albumContent {
    padding: 2px;
    flex: 0 0 40px;
}

.albumCover {
    height: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
}