.headerContainer {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.searchBar {
    height: 37px;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    outline: none;
    flex: 1;
}

.searchButton {
    background-color: var(--tertiary-background-color);
    border: solid 1px var(--tertiary-border-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-weight: bold;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    cursor: pointer;
}